body{
margin: 0;
text-align: center;

font-family: 'Merriweather', serif;
color: #40514E;
}
h1{
font-size:5.625rem;
margin: 50 auto 0 auto;
font-family: 'Sacramento', cursive;
color:#66BFBF;

}
h2{
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;

}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;

}
p{
  line-height: 2;

}
hr{
  border-style:none;
  border-top: dotted;
  border-color:#e8e8e8;
  border-width:5px;
  width:3%;
  margin:100px auto;
}
.top-container{

  background-color: #dbf6e9;
  position: relative;
  padding-top: 80px;

}
.middle-container{
  margin: 100px 0 ;

}
.bottom-container{
  background-color:#66BFBF;
  padding: 40px 0 40px 0;
}
.profile-pic{
  width: 250px;
  height:290px;

  }
  .intro{
    width: 30%;
    margin:0 auto;
  }
.all-right{
  color: #EAF6F6;
  margin: 20px 0 15px;
  font-size: 0.765rem;
}
.contact-message{
  width: 30%;
  margin: 40px auto 60px auto;
}

.pro{
  text-decoration: underline;
}

.bottom-cloud{
  position: absolute;
  left: 200px;


}
.top-cloud{
  position: absolute;
  right:200px;
  top: 50px;

}
.profile-pic{
   width:20%;

}
.skill-1{
  width: 25%;
  margin:0 auto;
  float: left;
    margin-right: 30px;


}
.skill-2{
width:25%;
margin:0 auto;
float:right;
  margin-left: 30px;

}

 a{

  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;



}
a:hover{
color:#eaf6f6;
}

.skill-row{
  width: 50%;
  margin:0 auto;
  text-align: left;
  margin-bottom: 150px;

}
.skill-row1{
  width: 50%;
  margin:0 auto;
  text-align: left;
  line-height: 2;
  margin-top: 60px;
}
.contact-me{
  margin-bottom: 50px;
}
.button {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
   font-size: 21px;

   padding: 10px 20px 10px 20px;
   -webkit-box-shadow: 0 0 0 0 #000000;
   -moz-box-shadow: 0 0 0 0 #000000;
   box-shadow: 0 0 0 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #2BC4AD 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.button:hover {
   border: solid #2BC4AD 0;
   background: #30E3CE;
   background-image: -webkit-linear-gradient(top, #30E3CE, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CE, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CE, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CE, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CE, #2BC4AD);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}
